body {
    background-color: lightgray;
}
.title {
    font-size: 3em;
    text-shadow: 2px 2px 2px;
}
#text {
    margin: 10px 0;
}
button {
    padding: 10px;
    background-color: darkgray;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #666;
    color: white;
}